# Node
node_modules/
dist/
build/

# Environment
.env
.env.*
!.env.example

# .NET
bin/
obj/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Secrets
*.pem
*.key
*.p12

# Database
*.db
*.sqlite
*.sqlite3

# User files
*.user
*.suo

# Backup files
*.bkp

# Local run scripts
run.sh

wwwroot/uploads/
